<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:fitsSystemWindows="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_short"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.VesAndroidImageCompare">
        <activity
            android:name=".Activities.Settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Settings.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Settings.ConfigActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CompareModes.MetaDataActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CompareModes.OverlayCutActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CompareModes.SideBySideActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CompareModes.OverlayTransparentActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CompareModes.OverlayTapActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CompareModes.OverlaySlideActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Settings.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"> <!-- singleTask = Only allow one instance of this app -->
            <intent-filter> <!-- WHAT IS THIS FOR? -->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.vincentengelsoftware.vesandroidimagecompare.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>